
.me-auto {
 display:flex;
 align-items: space-between;
 justify-content:center;
 margin: 0;

}

.story {
  border: 0.5px solid rgb(73, 118, 243);
  background-color: rgb(255, 255, 255);
  margin: 0.8rem 1rem
  
}

.Box{
  padding: 0;
  list-style-type: none;

}


.story p {
  font-size: 12px;
  margin: 0.5rem 1.2rem
}

.story p b {
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.pagination{
  
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 1rem;
  gap: 5px;
}

.pagination .page-num{
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
}

.pagination .page-num:hover{
  background-color: #0d6efd;
  color: aliceblue;
}

.pagination .active{
  background-color: #0d6efd;
  color: aliceblue;
}